
.main-logo {
    height: 100px;
    width: 150px;
}



.nav-header {
    background-color:#14687f;
    .nav-link {
        color: white!important;
        font-size: 20px;
        letter-spacing: 1px;
        margin: 0px 20px;
        transition: 0.2s;

        &:hover{
            color: black!important;
        }
    }
}
